.sidebar{
   
    height: 100vh;
    flex: 0.2;
    background-color: black;
    color: white;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar_logo{
    height: 70px;
    padding: 10px;
    margin-right: auto;
}